body{
    color: #282C3F;
    font-family: Arial, Helvetica, sans-serif;
}
.navBar{
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navBar ul > a{
    text-decoration: none;
}
.navBar ul > a li, .navBar div{
    cursor: pointer;
    font-size:16px; 
    color: #3d4152;
    list-style-type: none;
}
.navBar ul > a li:hover{
    color: #ffa700;
}
.btn-container button{
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffa700;
    border:none;
    padding: 10px 15px;
    font-size: 16px;
}
.countRestaurant{
    width:80vw;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.restaurant__container{
    width:80vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.searchBar{
    height: 8vh;
    width: 50vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchBar .searchInput{
    width: 80%;
    height: 50%;
    outline-color:#ffa700;
    font-size: 20px;
    padding: 4px 12px;
    border-radius: 5px;
}
.searchBar .searchInput::placeholder{
    color: #ffa700;
    font-style: italic;
}
.searchBar button{
    width: 10%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color:rgb(255, 166, 0);
}
.searchBar button:hover, .btn-container button:hover{
    background-color:rgba(255, 166, 0, .9);
}
.searchBar button:active, .btn-container button:active{
    transform: translateY(.5);
}
.card-view{
    border: 1px solid transparent;
    cursor: pointer;
}
.card-view:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.searchBar input{
    width: 75%;
}
.noRestaurant{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 70vh;
    font-size: 20px;
    flex-direction: column;
}
.noRestaurant p{
    background-color: #ffa700;
    filter: blur(.4);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    animation: shake 0.5s ease-in-out;
    animation-iteration-count: infinite;
    text-align: center;
}
@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

/* Help.js */
.formContainer{
    display: flex;
    width: 90vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.form{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 5% 6%;
}
.textInput{
    width: 100%;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ffa700;
    border-radius: 5px;

}
.form button{
    padding: 5px 10px;
    background-color: #ffa700;
    color: #000;
    border: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px ;
}
.form button:hover{
    cursor: pointer;
    background-color: rgba(255, 166, 0, 0.9);
}
.form [type=checkbox]{
    accent-color: #ffa700;
}
.formImage{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formImage img{
    width: 500px;
} 
.optionInput{
    margin-top: 20%;
    font-size:17px;
    cursor: pointer;
    margin-left: 10px;
}